.navbar {
  background-color: white;
  height: 70px;
  text-align: center;
}

.nav-links {
  display: inline-block;
  float: none;
  padding-top: 20px;
}

.nav-links a {
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  color: #000292;
  padding: 40px;
  text-transform: uppercase;
}

.experiences {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
}

.experiences img {
  width: 600px;
  height: 400px;
}

.experiences p {
  font-family: 'Karla', sans-serif;
  font-size: 22x;
  color: black;
}

.experiences second {
  padding-top: 20px;
}
