li {
  display: inline;
  font: helvetica;
  text-align: center;
  text-transform: uppercase;
  text-size: 50px;
  padding: 120px;
  position: center;
  background-color: red;
  height: 50px;
}

h1 {
  font: helvetica;
  text-align: center;
  text-transform: uppercase;
  text-size: 60px;
}

p {
  font: helvetica;
  text-align: center;
  text-size: 40px;
}

footer {
  background-color: blue;
  height: 30px;
  display: block;
  position: bottom;
}
