.navbar {
  background-color: white;
  border-color: transparent;
  height: 100px;
  text-align: center;
}

.nav-links {
  display: inline-block;
  float: none;
  padding: 50px;
}

.nav-links a {
  font: helvetica;
  font-size: 30px;
  color: black;
}

.intro {
  padding-top: 120px;
}

.intro-text h1 {
  font: helvetica;
  font-size: 20px;
  color: black;
}

footer {
  background-color: gray;
  height: 30px;
  display: block;
  position: bottom;
}
