.navbar {
  background-color: white;
  height: 70px;
  text-align: center;
}

.nav-links {
  display: inline-block;
  float: none;
  padding-top: 20px;
}

.nav-links a {
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  color: #000292;
  padding: 40px;
  text-transform: uppercase;
}

.nav-links img {
  height: 30px;
  width: 30px;
}

.jumbotron {
  background-image: url("russia.jpg");
  background-size: cover;
  background-position: 0px -30px;
  height: 725px;
}

.about {
  text-align: center;
  padding-bottom: 30px;
  height: 80px;
}

.row .no-gutter{
  padding-right: 0px;
  padding-left: 0px;
}

#row2 {
  padding-top: 20px;
}

.who h1 {
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top:50px;
  text-align: center;
}

.who img {
  height: 300px;
  max-width: 100%;
  position: relative;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.modal p {
  width: 80%;
  padding: 20px;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  color: black;
}

.button {
  background-color: white;
  border: none;
  padding: 0px;
}
